In [3]:
import sqlalchemy
import pandas as pd

In [4]:
connection_uri = "postgresql://musicbrainz:musicbrainz@localhost:5432/musicbrainz_db"
db_engine = sqlalchemy.create_engine(connection_uri)

In [5]:
pd.read_sql("SELECT version();", db_engine)

                                             version
0  PostgreSQL 12.2 (Ubuntu 12.2-2.pgdg16.04+1) on...

In [6]:
pd.read_sql("SELECT count(*) FROM musicbrainz.artist art  inner join musicbrainz.area ar on art.area  = ar.id ", db_engine)

    count
0  741676

In [10]:
pd.read_sql("SELECT * from musicbrainz.artist where id = 1440", db_engine)

,id,gid,name,sort_name,begin_date_year,begin_date_month,begin_date_day,end_date_year,end_date_month,end_date_day,type,area,gender,comment,edits_pending,last_updated,ended,begin_area,end_area
0,1440,eeb1195b-f213-4ce1-b28c-8565211f8e43,Guns N’ Roses,Guns N’ Roses,1985,3,None,None,None,None,2,222,None,,0,2019-03-20 15:00:47.780610+00:00,False,7703,None