# Data Cleaning - ukVenues

In [89]:
import pandas as pd
ukVenues = pd.read_csv("Dirty data/ukVenues.csv")

In [90]:
ukVenues

,venueID,venueName,venueStreet,venuePostcode,venueCity,venueCountry,venueCapacity,venueWebsite,venuePhone
0,1561,The Sugarmill,Brunswick Street,ST1 1DR,Stoke On Trent,UK,400.0,http://www.thesugarmill.co.uk/,01782 214991
1,1575,O2 Apollo Manchester,Stockport Road,M12 6AP,Manchester,UK,3500.0,http://www.o2apollomanchester.co.uk/,0161 273 6921
2,1576,Bramham Park,Bramham Park,LS23 6ND,Wetherby,UK,90000.0,http://www.bramhampark.co.uk,NaN
3,1584,The Yorkshire House,2 Parliament Street,LA1 1DB,Lancaster,UK,NaN,NaN,NaN
4,1602,South,4a King Street Deansgate,M2 6DQ,Manchester,UK,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...
5676,4376272,Watling Street Beer,Tariff Road,N17 0EB,London,UK,NaN,https://www.watlingstreetbeer.com/,07713 841936
5677,4376336,Almondsbury Creative,10 Gloucester Road,BS32 4AA,Almondsbury,UK,NaN,NaN,NaN
5678,4377342,Waterfront Hall Auditorium,NaN,NaN,Belfast,UK,NaN,NaN,NaN
5679,4378026,Bagster House,Walton Lane,TW178LP,Shepperton,UK,150.0,https://www.sheppertonjazzclub.co.uk/,NaN
5680,4380113,Copper Bar,38 Castle Street,SA1 1HZ,Swansea,UK,NaN,https://www.facebook.com/pg/CopperBarSwansea/,01792 456689

In [91]:
ukVenues.count()

venueID          5681
venueName        5681
venueStreet      4727
venuePostcode    4935
venueCity        5681
venueCountry     5681
venueCapacity     653
venueWebsite     1975
venuePhone       1175
dtype: int64

In [92]:
ukVenues.venueStreet.fillna('Missing Venue-street data', inplace = True)

In [93]:
ukVenues.venueStreet

0                Brunswick Street
1                  Stockport Road
2                    Bramham Park
3             2 Parliament Street
4       4a King Street  Deansgate
                  ...
5676                  Tariff Road
5677           10 Gloucester Road
5678    Missing Venue-street data
5679                  Walton Lane
5680             38 Castle Street
Name: venueStreet, Length: 5681, dtype: object

In [94]:
ukVenues.count()

venueID          5681
venueName        5681
venueStreet      5681
venuePostcode    4935
venueCity        5681
venueCountry     5681
venueCapacity     653
venueWebsite     1975
venuePhone       1175
dtype: int64

In [95]:
ukVenues.venuePostcode.fillna('A1 2BC', inplace = True)

In [96]:
ukVenues.venuePostcode

0        ST1 1DR
1        M12 6AP
2       LS23 6ND
3        LA1 1DB
4         M2 6DQ
          ...
5676     N17 0EB
5677    BS32 4AA
5678      A1 2BC
5679     TW178LP
5680     SA1 1HZ
Name: venuePostcode, Length: 5681, dtype: object

In [97]:
ukVenues.count()

venueID          5681
venueName        5681
venueStreet      5681
venuePostcode    5681
venueCity        5681
venueCountry     5681
venueCapacity     653
venueWebsite     1975
venuePhone       1175
dtype: int64

In [98]:
ukVenues.venueCapacity.min()

20.0

In [99]:
ukVenues.venueCapacity.fillna(ukVenues.venueCapacity.min(), inplace = True)

In [100]:
ukVenues.venueCapacity

0         400.0
1        3500.0
2       90000.0
3          20.0
4          20.0
         ...
5676       20.0
5677       20.0
5678       20.0
5679      150.0
5680       20.0
Name: venueCapacity, Length: 5681, dtype: float64

In [101]:
ukVenues.count()

venueID          5681
venueName        5681
venueStreet      5681
venuePostcode    5681
venueCity        5681
venueCountry     5681
venueCapacity    5681
venueWebsite     1975
venuePhone       1175
dtype: int64

In [102]:
ukVenues.venueWebsite.fillna('http://www.missingvenuewebsitedata.co.uk', inplace = True)

In [103]:
ukVenues.venueWebsite

0                      http://www.thesugarmill.co.uk/
1                http://www.o2apollomanchester.co.uk/
2                        http://www.bramhampark.co.uk
3            http://www.missingvenuewebsitedata.co.uk
4            http://www.missingvenuewebsitedata.co.uk
                            ...
5676               https://www.watlingstreetbeer.com/
5677         http://www.missingvenuewebsitedata.co.uk
5678         http://www.missingvenuewebsitedata.co.uk
5679            https://www.sheppertonjazzclub.co.uk/
5680    https://www.facebook.com/pg/CopperBarSwansea/
Name: venueWebsite, Length: 5681, dtype: object

In [104]:
ukVenues.count()

venueID          5681
venueName        5681
venueStreet      5681
venuePostcode    5681
venueCity        5681
venueCountry     5681
venueCapacity    5681
venueWebsite     5681
venuePhone       1175
dtype: int64

In [105]:
ukVenues.venuePhone.fillna('0123 456 7890', inplace = True)

In [106]:
ukVenues.venuePhone

0        01782 214991
1       0161 273 6921
2       0123 456 7890
3       0123 456 7890
4       0123 456 7890
            ...
5676     07713 841936
5677    0123 456 7890
5678    0123 456 7890
5679    0123 456 7890
5680     01792 456689
Name: venuePhone, Length: 5681, dtype: object

In [107]:
ukVenues.count()

venueID          5681
venueName        5681
venueStreet      5681
venuePostcode    5681
venueCity        5681
venueCountry     5681
venueCapacity    5681
venueWebsite     5681
venuePhone       5681
dtype: int64

In [108]:
ukVenues.to_csv('Clean data/ukVenues.csv', index=False)