# Data Cleansing for Spotify Dataset

In [3]:
import pandas as pd
df_weeklyTop200 = pd.read_csv('../datasets/spotify_top_200_weekly.csv')
df_track_details = pd.read_csv('../datasets/spotify_track_details.csv')
df_artists = pd.read_csv('../datasets/kaggle_artists.csv')

C:\Users\adebola\.conda\envs\New_Base_Py3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,4,6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [2]:
df_weeklyTop200.head()

,Position,Track Name,Artist,Streams,date,region,spotify_id
0,1,Someone You Loved,Lewis Capaldi,3338234,2019-03-01--2019-03-08,gb,2TIlqbIneP0ZY1O0EzYLlc
1,2,"break up with your girlfriend, i'm bored",Ariana Grande,3041558,2019-03-01--2019-03-08,gb,4kV4N9D1iKVxx1KLvtTpjS
2,3,Giant (with Rag'n'Bone Man),Calvin Harris,2846784,2019-03-01--2019-03-08,gb,5itOtNx0WxtJmi1TQ3RuRd
3,4,7 rings,Ariana Grande,2836252,2019-03-01--2019-03-08,gb,6ocbgoVGwYJhOv1GgI9NsF
4,5,Don't Call Me Up,Mabel,2783485,2019-03-01--2019-03-08,gb,5WHTFyqSii0lmT9R21abT8

In [6]:
df_weeklyTop200.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Position    20800 non-null  int64
 1   Track Name  20800 non-null  object
 2   Artist      20800 non-null  object
 3   Streams     20800 non-null  int64
 4   date        20800 non-null  object
 5   region      20800 non-null  object
 6   spotify_id  20800 non-null  object
dtypes: int64(2), object(5)
memory usage: 1.1+ MB

In [14]:
#df_weeklyTop200['Start_Date'] = df_weeklyTop200.apply(lambda row: row.date[:10],row.date[10:] axis = 1) 
df_weeklyTop200.describe(include='all')
#df_weeklyTop200.describe()

,Position,Track Name,Artist,Streams,date,region,spotify_id
count,20800.000000,20800,20800,2.080000e+04,20800,20800,20800
unique,NaN,1586,554,NaN,52,2,1850
top,NaN,Lucid Dreams,Billie Eilish,NaN,2020-01-10--2020-01-17,global,285pBltuF7vW8TeWk8hdRR
freq,NaN,104,870,NaN,400,10400,104
mean,100.500000,NaN,NaN,4.779709e+06,NaN,NaN,NaN
std,57.735693,NaN,NaN,5.885641e+06,NaN,NaN,NaN
min,1.000000,NaN,NaN,3.240530e+05,NaN,NaN,NaN
25%,50.750000,NaN,NaN,5.254700e+05,NaN,NaN,NaN
50%,100.500000,NaN,NaN,4.265072e+06,NaN,NaN,NaN
75%,150.250000,NaN,NaN,6.594272e+06,NaN,NaN,NaN
max,200.000000,NaN,NaN,6.723764e+07,NaN,NaN,NaN

In [10]:
df_weeklyTop200['date'][10:]

10       2019-03-01--2019-03-08
11       2019-03-01--2019-03-08
12       2019-03-01--2019-03-08
13       2019-03-01--2019-03-08
14       2019-03-01--2019-03-08
                  ...
20795    2020-02-21--2020-02-28
20796    2020-02-21--2020-02-28
20797    2020-02-21--2020-02-28
20798    2020-02-21--2020-02-28
20799    2020-02-21--2020-02-28
Name: date, Length: 20790, dtype: object

In [31]:
df_weeklyTop200[['start_date', 'end_date']] = df_weeklyTop200['date'].str.split('--', expand=True)
df_weeklyTop200

,Position,Track Name,Artist,Streams,date,region,spotify_id,star_date,end_date,start_date
0,1,Someone You Loved,Lewis Capaldi,3338234,2019-03-01--2019-03-08,gb,2TIlqbIneP0ZY1O0EzYLlc,2019-03-01,2019-03-08,2019-03-01
1,2,"break up with your girlfriend, i'm bored",Ariana Grande,3041558,2019-03-01--2019-03-08,gb,4kV4N9D1iKVxx1KLvtTpjS,2019-03-01,2019-03-08,2019-03-01
2,3,Giant (with Rag'n'Bone Man),Calvin Harris,2846784,2019-03-01--2019-03-08,gb,5itOtNx0WxtJmi1TQ3RuRd,2019-03-01,2019-03-08,2019-03-01
3,4,7 rings,Ariana Grande,2836252,2019-03-01--2019-03-08,gb,6ocbgoVGwYJhOv1GgI9NsF,2019-03-01,2019-03-08,2019-03-01
4,5,Don't Call Me Up,Mabel,2783485,2019-03-01--2019-03-08,gb,5WHTFyqSii0lmT9R21abT8,2019-03-01,2019-03-08,2019-03-01
...,...,...,...,...,...,...,...,...,...,...
20795,196,Mejor,Dalex,4851895,2020-02-21--2020-02-28,global,1mF6sMUsRU9MisrdB9qWvg,2020-02-21,2020-02-28,2020-02-21
20796,197,SLOW DANCING IN THE DARK,Joji,4825540,2020-02-21--2020-02-28,global,0rKtyWc8bvkriBthvHKY8d,2020-02-21,2020-02-28,2020-02-21
20797,198,Soltera - Remix,Lunay,4809360,2020-02-21--2020-02-28,global,4t9a07PAghtQMRAIP9FQ7Z,2020-02-21,2020-02-28,2020-02-21
20798,199,Infeliz,Arcangel,4802236,2020-02-21--2020-02-28,global,4z6wo6PJG4Fve45OXK6D9m,2020-02-21,2020-02-28,2020-02-21
20799,200,Call Out My Name,The Weeknd,4781481,2020-02-21--2020-02-28,global,09mEdoA6zrmBPgTEN5qXmN,2020-02-21,2020-02-28,2020-02-21

In [32]:
df_weeklyTop200.isnull().values.any()

False

In [46]:
df_track_details.head()

,track_spotifyID,artist_spotifyID,artist_mbid,artist_name,track_url,track_popularity,track_duration_ms,track_is_local,albumID,album_track_number,album_release_date,album_type
0,2TIlqbIneP0ZY1O0EzYLlc,4GNC7GD6oZMSxPGyXy4MNB,526aab94-697f-44a9-b630-41d1c0505953,Lewis Capaldi,https://open.spotify.com/track/2TIlqbIneP0ZY1O...,82,182160,False,0NVQ9k3wKmuK6T02lLMl6y,3,2018-11-08,single
1,4kV4N9D1iKVxx1KLvtTpjS,66CXWjxzNUsdJxJ2JdwvnR,f4fdbb4c-e4b7-47a0-b83b-d91bbfcfa387,Ariana Grande,https://open.spotify.com/track/4kV4N9D1iKVxx1K...,81,190440,False,2fYhqwDWXjbpjaIJPEfKFw,12,2019-02-08,album
2,5itOtNx0WxtJmi1TQ3RuRd,7CajNmpbOovFoOoasH2HaY,8dd98bdc-80ec-4e93-8509-2f46bafc09a7,Calvin Harris,https://open.spotify.com/track/5itOtNx0WxtJmi1...,80,229184,False,4PwXTHenZZx7ebgsnTM65K,1,2019-01-11,single
3,5itOtNx0WxtJmi1TQ3RuRd,4f9iBmdUOhQWeP7dcAn1pf,NaN,Rag'n'Bone Man,https://open.spotify.com/track/5itOtNx0WxtJmi1...,80,229184,False,4PwXTHenZZx7ebgsnTM65K,1,2019-01-11,single
4,6ocbgoVGwYJhOv1GgI9NsF,66CXWjxzNUsdJxJ2JdwvnR,f4fdbb4c-e4b7-47a0-b83b-d91bbfcfa387,Ariana Grande,https://open.spotify.com/track/6ocbgoVGwYJhOv1...,87,178626,False,2fYhqwDWXjbpjaIJPEfKFw,10,2019-02-08,album

In [70]:
df_track_details.describe(include='all')

,track_spotifyID,artist_spotifyID,artist_mbid,artist_name,track_url,track_popularity,track_duration_ms,track_is_local,albumID,album_track_number,album_release_date,album_type
count,3057,3057,2428,3057,3057,3057.000000,3057.000000,3057,3057,3057.000000,3057,3057
unique,1850,871,594,869,1850,NaN,NaN,1,1222,NaN,464,3
top,5WnfnSpuNEGXyEt78PBA6d,246dkjvS1zLTtiykXe5h60,b1e26560-60e5-4236-bbdb-9aa5a8d5ee19,Post Malone,https://open.spotify.com/track/5WnfnSpuNEGXyEt...,NaN,NaN,False,3oIFxDIo2fwuk4lwCmFZCx,NaN,2019-09-06,album
freq,10,48,48,48,10,NaN,NaN,3057,37,NaN,86,1561
mean,NaN,NaN,NaN,NaN,NaN,65.875368,205305.352633,NaN,NaN,4.037291,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,18.418683,46454.953704,NaN,NaN,4.518568,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,0.000000,30133.000000,NaN,NaN,1.000000,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,59.000000,175755.000000,NaN,NaN,1.000000,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,70.000000,200186.000000,NaN,NaN,1.000000,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,78.000000,224000.000000,NaN,NaN,6.000000,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,100.000000,667706.000000,NaN,NaN,55.000000,NaN,NaN

In [69]:
df_track_details.isna().any()

track_spotifyID       False
artist_spotifyID      False
artist_mbid            True
artist_name           False
track_url             False
track_popularity      False
track_duration_ms     False
track_is_local        False
albumID               False
album_track_number    False
album_release_date    False
album_type            False
dtype: bool

In [71]:
df_null_mbid = df_track_details[df_track_details['artist_mbid'].isnull()]
df_null_mbid
#df_track_details[df_track_details['artist_mbid'].notnull()]

,track_spotifyID,artist_spotifyID,artist_mbid,artist_name,track_url,track_popularity,track_duration_ms,track_is_local,albumID,album_track_number,album_release_date,album_type
3,5itOtNx0WxtJmi1TQ3RuRd,4f9iBmdUOhQWeP7dcAn1pf,NaN,Rag'n'Bone Man,https://open.spotify.com/track/5itOtNx0WxtJmi1...,80,229184,False,4PwXTHenZZx7ebgsnTM65K,1,2019-01-11,single
11,2VxeLyX666F8uXCJ0dZF8B,4VIvfOurcf0vuLRxLkGnIG,NaN,Bradley Cooper,https://open.spotify.com/track/2VxeLyX666F8uXC...,86,215733,False,4sLtOBOzn4s3GDUv3c5oJD,12,2018-10-05,album
12,2cytBOLpwFRX7J9URCrFIe,31Ua7zSTJxegjyd49ujbSA,NaN,NSG,https://open.spotify.com/track/2cytBOLpwFRX7J9...,69,240081,False,35MvbFXqp1ESDkKNqYfOIM,1,2018-11-30,single
13,2cytBOLpwFRX7J9URCrFIe,7b79bQFziJFedJb75k6hFt,NaN,Tion Wayne,https://open.spotify.com/track/2cytBOLpwFRX7J9...,69,240081,False,35MvbFXqp1ESDkKNqYfOIM,1,2018-11-30,single
30,1fp2uoWXPca3mIdxRHIgQm,1Gm0kKaDx4GH6pQF88rjSK,NaN,Cadet,https://open.spotify.com/track/1fp2uoWXPca3mId...,65,192571,False,4wOuGy0YTmOHjHIUo6drO8,1,2018-09-14,single
...,...,...,...,...,...,...,...,...,...,...,...,...
3024,0rETge1bMavnW9leLCnpwd,2PJEagPIxaBugeMjIyKVXF,NaN,Aitch,https://open.spotify.com/track/0rETge1bMavnW9l...,59,252906,False,4NY1IySwIffLWbyYd7Shg0,1,2019-04-11,single
3025,0rETge1bMavnW9leLCnpwd,2yPprAQlrIQWu60g09B9MZ,NaN,Swarmz,https://open.spotify.com/track/0rETge1bMavnW9l...,59,252906,False,4NY1IySwIffLWbyYd7Shg0,1,2019-04-11,single
3026,0rETge1bMavnW9leLCnpwd,1VeNLxolTVovUG1ROeumVp,NaN,Sav'o,https://open.spotify.com/track/0rETge1bMavnW9l...,59,252906,False,4NY1IySwIffLWbyYd7Shg0,1,2019-04-11,single
3030,3H3r2nKWa3Yk5gt8xgmsEt,6L1XC7NrmgWRlwAeLJvVtA,NaN,Sam Fischer,https://open.spotify.com/track/3H3r2nKWa3Yk5gt...,80,194853,False,5waiE6DS2ntWF3Q0yekJUm,1,2019-12-13,single
3052,4dZTZbmJBCCofAExHwefda,5bgfj5zUoWpyeVatGDjn6H,NaN,K CAMP,https://open.spotify.com/track/4dZTZbmJBCCofAE...,81,170946,False,6Z8fenVdNwyQZ9iBFkNyKZ,15,2019-06-21,album