In [1]:
# %load dbhelper.py
import sqlalchemy
import pandas as pd
from dbhelper import DatabaseHelper 
from area_types import AreaTypes
from areas import Areas
from artists_types import ArtistsTypes
from artists import Artists
from event_types import EventTypes
from genders import Genders
from places import Places
from events import Events
from place_types import PlaceTypes

db_uri = "postgresql://musicbrainz:musicbrainz@localhost:5432/musicbrainz_db"
stg_uri = "postgresql://myuser:mypass@localhost:5432/gig_stagingdb"

In [ ]:
db_helper = DatabaseHelper(db_uri)
db_helper.run_command("fdfd")

In [ ]:
db = DatabaseHelper(db_uri)
df = db.extract_table_to_pandas("musicbrainz.artist", columns="id, gid, name, sort_name, type, area, area, gender")

df= df[df["gid"] != None]
df.head()

In [ ]:
df = pd.read_sql("SELECT art.gid, art.name, art.sort_name, art.ended  FROM musicbrainz.artist art where ended = False", db_engine)
df.to_csv(r'ActiveArtists.csv', index = False)

In [2]:
import sys
import pandas as pd
df = pd.read_csv("../datasets/ukVenues.csv")
df.head()

,id,venueName,uri,street,zip,country,phone,website,capacity
0,1561,The Sugarmill,http://www.songkick.com/venues/1561-sugarmill?...,Brunswick Street,ST1 1DR,UK,01782 214991,http://www.thesugarmill.co.uk/,400.0
1,1575,O2 Apollo Manchester,http://www.songkick.com/venues/1575-o2-apollo-...,Stockport Road,M12 6AP,UK,0161 273 6921,http://www.o2apollomanchester.co.uk/,3500.0
2,1576,Bramham Park,http://www.songkick.com/venues/1576-bramham-pa...,Bramham Park,LS23 6ND,UK,NaN,http://www.bramhampark.co.uk,90000.0
3,1609,The Corporation,http://www.songkick.com/venues/1609-corporatio...,Trafalgar Court,S14JU,UK,0114 276 0262,http://www.corporation.org.uk,1000.0
4,1616,Holkham Hall,http://www.songkick.com/venues/1616-holkham-ha...,NaN,NR23 1AB,UK,NaN,NaN,NaN