In [1]:
# %load dbhelper.py
import sqlalchemy
import pandas as pd
from dbhelper import DatabaseHelper 
from area_types import AreaTypes
from areas import Areas
from artists_types import ArtistsTypes
from artists import Artists
from event_types import EventTypes
from genders import Genders
from places import Places
from events import Events
from place_types import PlaceTypes

db_uri = "postgresql://musicbrainz:musicbrainz@localhost:5432/musicbrainz_db"
stg_uri = "postgresql://myuser:mypass@localhost:5432/gig_stagingdb"

In [ ]:
db_helper = DatabaseHelper(db_uri)
db_helper.run_command("fdfd")

In [ ]:
db = DatabaseHelper(db_uri)
df = db.extract_table_to_pandas("musicbrainz.artist", columns="id, gid, name, sort_name, type, area, area, gender")

df= df[df["gid"] != None]
df.head()

In [ ]:
df = pd.read_sql("SELECT art.gid, art.name, art.sort_name, art.ended  FROM musicbrainz.artist art where ended = False", db_engine)
df.to_csv(r'ActiveArtists.csv', index = False)

In [8]:
import sys
import pandas as pd
df = pd.read_csv("../datasets/ukEvents.csv")
df.head()

,eventId,type,ageRestriction,mbid,venueId,startDate,country,flaggedAsEnded
0,38241939,Festival,NaN,0ab49580-c84f-44d4-875f-d83760ea2cfe,12522.0,8/6/2019,UK,True
1,38241939,Festival,NaN,33ca19f4-18c8-4411-98df-ac23890ce9f5,12522.0,8/6/2019,UK,True
2,38241939,Festival,NaN,fd4cad4e-d767-47aa-860b-5156cb37b04d,12522.0,8/6/2019,UK,True
3,38241939,Festival,NaN,3377f3bb-60fc-4403-aea9-7e800612e060,12522.0,8/6/2019,UK,True
4,38241939,Festival,NaN,c3c82bdc-d9e7-4836-9746-c24ead47ca19,12522.0,8/6/2019,UK,True